
.login-container {
    display: block;
    text-align: center;
    padding: 10% 0
}

.card {
    padding: 2em ;
    margin: auto;
    display: inline-block;
    
}

.left {
    float: left;
}

.right {
    float: right;
}

.full-width {
    display: block;
    font-size: smaller;
}

.button-container {
    padding: 2em 0;
}

.popup {
    text-align: center;
}
